# Access Transformer for Vestalihy mod
# Make Camera.setPosition accessible
public net.minecraft.client.Camera f_90574_ # position field
public net.minecraft.client.Camera m_90574_(DDD)V # setPosition method

